* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .caja_logo {
    margin-left: 50px;
}

header .caja_logo img {
    height: 100px;
}

header .caja_menu ul {
    list-style: none;
    display: flex;
    margin-right: 750px;
}

header .caja_menu ul li {
    margin-left: 10px;
}

header .caja_menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 3px;
}

header .caja_menu ul li i {
    padding: 2px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 700px;
    background-color: white;
}


.container img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    display: grid;
    border: 3px solid #000;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.formulario {
    text-align: left;
    flex: 1;
    margin-right: 20px;
    max-width: 600px; 
}

.formulario label {
    display: block;
    margin-bottom: 8%;
    font-weight: light;
    color: #000000;
}

.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

.formulario textarea {
    height: 120px;
    resize: vertical;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color:rgba(255, 29, 29, 0.884);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
  }

.container-mapa {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    padding: 20px;
    background-color: white;
    max-width: 1500px;
    margin: 50px auto;
    border-radius: 5px;
}

.formulario {
    flex: 1;
    max-width: 600px;
}

.mapa {
    flex: 1;
    max-width: 800px;
}

.mapa iframe {
    width: 100%;
    height: 400px;
    border: none;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; 
}

.footer-pernalized{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}